
@font-face {
    font-family:"Pacifico";
    src:url("Pacifico.woff2") format("woff2"),url("Pacifico.woff") format("woff"),url("Pacifico.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        